* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
  }
  
  html,
  body {
    height: 100%; 
    width: 100%;
  }

#nav {
    height:85px;
    width:100%;
    background: rgb(0, 0, 0);

/* background: linear-gradient(90deg, hsla(50, 61%, 18%, 1) 0%, hsla(30, 82%, 91%, 1) 100%); */

/* background: -moz-linear-gradient(90deg, hsla(50, 61%, 18%, 1) 0%, hsla(30, 82%, 91%, 1) 100%); */

/* background: -webkit-linear-gradient(90deg, hsla(50, 61%, 18%, 1) 0%, hsla(30, 82%, 91%, 1) 100%); */

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4A4112", endColorstr="#FBE9D7", GradientType=1 );
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    position:fixed;
    gap:50px;
}

#nav img{
    height: 130px;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}


.navbar a{
    position: relative;
    font-size: 15px;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    transition: all 0.9s;
}

.navbar a:hover{
    color: rgba(176, 175, 161, 0.751); 
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.9s;
}

.navbar a:hover::before{
    width: 100%;
    background: #C0C0C0;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    -webkit-filter: blur(4px);
    justify-content: flex-start;
}

#main{
    position: relative;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}