* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
}

html,
body {
    height: 100%; 
    width: 100%;
}

#nav {
    height:100px;
    width:100%;
    background: rgb(2, 2, 2);

/* background: linear-gradient(90deg, hsla(50, 61%, 18%, 1) 0%, hsla(30, 82%, 91%, 1) 100%); */

/* background: -moz-linear-gradient(90deg, hsla(50, 61%, 18%, 1) 0%, hsla(30, 82%, 91%, 1) 100%); */

/* background: -webkit-linear-gradient(90deg, hsla(50, 61%, 18%, 1) 0%, hsla(30, 82%, 91%, 1) 100%); */

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4A4112", endColorstr="#FBE9D7", GradientType=1 );
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    position:fixed;
    gap:50px;
}

.navb{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#nav img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    -webkit-filter: blur(4px);
}


.navbar a{
    position: relative;
    font-size: 15px;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    transition: all 0.9s;
    margin-right: 50px;
}

.navbar a:hover{
    color: #f6f0f099; 
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.9s;
}

.navbar a:hover::before{
    width: 100%;
    background-color: #cdc7c7b1;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

.a{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    
}

.page1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before{
    content:"STAY FOCUSED. STAY FIT.";
    position: absolute;
    color:#000;
    top:-4px;
    left:-4px;
    -webkit-text-stroke: 2px orange;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}