* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

.cursor {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

.cursor-blur {
    height: 300px;
    width: 300px;
    background-color: orange;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#nav {
    height: 100px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#4A4112", endColorstr="#FBE9D7", GradientType=1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;
    position: fixed;
    gap: 450px;
    top: 0; /* Ensure it stays at the top */
    left: 0;
    z-index: 1000; /* Ensures it is above everything */
}

.navb {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#nav img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    -webkit-filter: blur(4px);
}

.navbar a {
    position: relative;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    transition: all 0.9s;
    margin-right: 50px;
}

.navbar a:hover {
    color: #f6f0f099;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.9s;
}

.navbar a:hover::before {
    width: 100%;
    background-color: #cdc7c7b1;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

.a {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: fixed; */
}

/* Animated Moving Outline Effect */
@keyframes outlineAnimation {
    0% {
        -webkit-text-stroke: 2px #b22222;
    }

    /* Firebrick */
    25% {
        -webkit-text-stroke: 2px #d2691e;
    }

    /* Chocolate */
    50% {
        -webkit-text-stroke: 2px #deb887;
    }

    /* Burlywood */
    75% {
        -webkit-text-stroke: 2px #f4a460;
    }

    /* Sandy Brown */
    100% {
        -webkit-text-stroke: 2px #daa520;
    }

    /* Goldenrod */
}


.page1 h1 {
    font-size: 75px;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
}

.page1 h1::before {
    content: "STAY FOCUSED. STAY FIT.";
    position: absolute;
    color: transparent;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px orange;
    z-index: -1;
    animation: outlineAnimation 5s infinite ease-in-out;
}

.page2{
    height:100vh;
    width:100%;
}


/* Program Starts here */


body {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.stack-area {
    width: 100%;
    height: 300vh;
    position: relative;
    background: rgb(0, 0, 0);
    display: flex;
}

.left {
    height: 100vh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
    left: 0;
}

.right {
    height: 100vh;
    flex-basis: 50%;
    position: sticky;
    top: 0;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 420px;
    font-size: 84px;
    font-family: poppins;
    font-weight: 700;
    line-height: 88px;
    color: white;
}

.sub-title {
    width: 500px;
    font-family: poppins;
    font-size: 20px;
    margin-top: 30px;
    color: white;
}

.sub-title button {
    font-family: poppins;
    font-size: 14px;
    padding: 15px 30px;
    background: black;
    color: white;
    border-radius: 8mm;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

.card {
    width: 350px;
    height: 350px;
    border-radius: 25px;
    margin-bottom: 10px;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    transition: 0.5s ease-in-out;
}

.card:nth-child(1) {
    background: rgb(64, 122, 255);
}

.card:nth-child(2) {
    background: rgb(221, 62, 88);
}

.card:nth-child(3) {
    background: rgb(186, 113, 245);
}

.card:nth-child(4) {
    background: rgb(247, 92, 208);
}

.card {
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sub {
    font-family: poppins;
    font-size: 20px;
    font-weight: 700;
}

.content {
    font-family: poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 54px;
}
  

.away {
    transform-origin: bottom left;
}